body {
  font-family: Raleway, sans-serif;
  background: #f6f8fd; /* Tetap dengan warna terang untuk kontras */
}

.bg-nav {
  background-color: #31316a; /* Ganti dengan warna utama */
}

/* Warna teks */
h1, h2, h3, h4, h5, h6 {
  color: #31316a; /* Warna heading */
}

p, a {
  color: #212529; /* Warna paragraf dan teks lainnya */
}

.mt--2 {
  margin-top: -0.5rem !important;
}

.hr-dotted {
  border-top: 1px dotted;
  opacity: .25;
}

a {
  color: #31316a; /* Oranye untuk link */
}

a:hover {
  color: #31316a; /* Warna merah tua untuk hover */
}

.navbar-light .navbar-nav .nav-link {
  color: #f6f8fd !important; /* Ubah warna font navbar menjadi putih agar kontras dengan warna navbar */
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}

.navbar-brand span.text-body.fs-4.fw-bolder {
  color: #f6f8fd !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffcc00 !important; /* Warna hover yang cerah sebagai aksen */
}

.feature-icon-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #fff;
  background-color: #31316a; /* Warna background untuk fitur ikon */
  border-radius: 100%;
}

/* Tombol utama */
.btn-primary {
  background-color: #31316a; /* Warna utama untuk tombol */
  border-color: #31316a;
}

.btn-primary:hover {
  background-color: #ffcc00; /* Aksen hover untuk tombol */
  border-color: #ffcc00;
}

.btn-social-media {
  color: #f6f8fd; /* Warna font putih untuk sosial media */
  background-color: #31316a; /* Warna tombol sosial media */
  border-color: #31316a;
  width: 2rem;
  height: 2rem;
  padding: 1.2rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.btn-social-media:hover {
  color: #ffcc00; /* Aksen hover kuning */
  background-color: #212529; /* Warna hover menjadi abu gelap */
  border-color: #212529;
}

/* Footer */
.footer {
  background-color: #31316a; /* Background footer sama dengan warna utama */
  color: #f6f8fd; /* Warna font putih */
}

.footer a {
  color: #ffcc00; /* Aksen untuk link di footer */
  text-decoration: none;
}

.footer a:hover {
  color: #f6f8fd; /* Warna hover link putih */
}

.footer .copyright {
  color: #f6f8fd;
}

.row-cols-1 {
  flex-wrap: wrap;
}

.col {
  flex-basis: 25%; /* adjust the width of each column */
  max-width: 25%;
}

.card {
  background-color: #ffffff; /* Tetap putih untuk kontras */
  border-color: #31316a;
}

.card-body {
  color: #31316a;
}

.feature-icon-1 {
  background-color: #31316a;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: block;
}

.card h3 {
  color: #31316a;
}

.card p {
  color: #212529; /* Warna teks konten dalam kartu */
}